@import 'Var';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $poppins;
    font-size: $small;
    font-weight: normal;
}

.bkstore-top-bar-container {
    width: 100%;
    background-color: $black;
    padding: 10px 0;

    .top-bar-inner {
        max-width: 1280px;
        margin: auto;

        h2 {
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 10px;
            font-size: $ex-small;
        }
    }
}

.bkstore-top-nav-container-dekstop {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9;

    .top-nav-inner {
        margin: auto;

        .top-nav-upper {
            width: 100%;
            padding: 10px 0;

            .upper-inner {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 1280px;
                margin: auto;
                flex-wrap: wrap;

                .nav-upper-left {
                    .logo {
                        img {
                            width: 200px;
                            height: auto;
                        }
                    }
                }

                .nav-upper-right {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // column-gap: 5px;

                    input[type="text"] {
                        border: 1px solid #abb8c3;
                        border-radius: 5px;
                        padding: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }

                    .search-btn {
                        background-color: $orange;
                        border: none;
                        padding: 8px;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        cursor: pointer;
                    }
                }
            }

            // mobile
            @media screen and (max-width: 480px) {
                .upper-inner {
                    justify-content: center;
                    row-gap: 10px;
                }
            }
        }

        .top-nav-lower {
            width: 100%;
            background-color: $orange;
            padding: 10px 0;

            .lower-inner {
                max-width: 1280px;
                margin: auto;

                .top-nav {
                    ul {
                        display: flex;
                        justify-content: center;
                        column-gap: 15px;


                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.bkstore-hero-container {
    width: 100%;
    background-image: url('../Assets/5.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;

    .hero-inner {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
        padding: 0 20px;

        h1 {
            text-align: center;
            color: #fff;
            font-weight: 600;
            font-size: $ex-large;
            letter-spacing: 10px;
        }

        a {
            color: #fff;
            font-size: $large;
            text-decoration: none;
            background-color: $orange;
            font-weight: 600;
            padding: 10px;
            border-radius: 5px;
        }

        @media screen and (max-width: 480px) {
            h1 {
                font-size: $medium;
            }
        }
    }
}

.bkstore-store-container {
    width: 100%;

    .store-inner {
        max-width: 1280px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0;
        gap: 10px;

        .sigle-book {
            flex: 1;
            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.2);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;

            img {
                width: 200px;
                height: auto;
                margin: auto;
                border-radius: inherit;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            h2,
            h3 {
                text-align: center;
            }

            div {
                margin: auto;
            }
        }
    }
}


.scroll-header {
    background: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}